body {
  color: #333333;
  margin-top: 5rem;
}

.latestVulns {
  height: 320px;
  padding: 0px;
  overflow: auto;
  margin: 0px;
  list-style: none;
  border: 1px solid #DDD;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #DDD;
}

h1 {
 text-align: center
 color: #000000;
 font-family: Verdana, sans-serif;
 font-weight: bold
}

h2, h3, h4, h5, h6 {
  text-align: center;
  color: #000000;
  font-family: Arial, sans-serif;
  font-weight: bold
}


ul {
  line-height: 250%;
  margin: 0;
}

.bg-light {
  background-color: #ffffff;
}

li {
  font-weight: bold;
}
