{% load static %}
<!DOCTYPE html>
<html>
<head>
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'QueryService/main.css' %}">

    <title>{% block title %}BDSA Query Service{% endblock %}</title>
    <link rel = "icon" href = "https://3.imimg.com/data3/DD/BY/MY-9447834/trend-micro-support-500x500.png" type = "image/x-icon">
</head>

<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top py-3">
            <a class="navbar-brand mr-4" href="/">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1d/Trend-Micro-Logo.png/1200px-Trend-Micro-Logo.png" alt="Logo" width="110" height="40" class="d-inline-block align-text-top">
            </a>
            <h1>BDSA Query Service</h1>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-nav mr-auto">
            </div>

            <div class="navbar-nav">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="text" placeholder="Enter CVE ID" aria-label="Search">
                    <button class="btn btn-default" type="submit">
                        <img src="https://cdn-icons-png.flaticon.com/512/3249/3249897.png" width="35" />
                    </button>
                </form>
            </div>
        </nav>
    </header>


    <main role="main" class="container-fluid">
<!--        <div class="low-opacity">-->
        <h4>
            <br>
            <img src="https://cdn-icons-png.flaticon.com/512/78/78946.png" width="35" height="30"/>
            CVE-2022-39842
            </br>
        </h4>

          <ul class="list-group" style = "list-style-type:none">
            <li>Title: </li>
            <li>Description: </li>
            <li>Technical Description: </li>
          </ul>
          <br>
          <ul class="list-group">
            <li class="list-group-item list-group-item-light">Solution:</li>
            <li class="list-group-item list-group-item-light">Patch:</li>
            <li class="list-group-item list-group-item-light">Mitigation:</li>
            <li class="list-group-item list-group-item-light">Vulnerable Function:</li>
          </ul>
          </br>
<!--        </div>-->
</main>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>