{% extends 'QueryService/base.html' %}

<!DOCTYPE html>
<html lang="en"
<head>
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body data-bs-spy="scroll" >
{% block content %}
<br/>
<center>
    <section class="vh-100" background-image="">
        <h1>Last 20 Vulnerability IDs & Summaries</h1><br/>
    <div class="container" data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-offset="0" tabindex="0">
        <h5 id="item-1">CVE 1</h5>
        <p class="text-muted"> cve title </p>
        <h5 id="item-2">CVE 2</h5>
        <p class="text-muted"> cve title </p>
        <h5 id="item-3">CVE 3</h5>
        <p class="text-muted"> cve title </p>
        <h5 id="item-4">CVE 4</h5>
        <p class="text-muted"> cve title </p>
        <h5 id="item-5">CVE 5</h5>
        <p class="text-muted"> cve title </p>
        <h5 id="item-6">CVE 6</h5>
        <p class="text-muted"> cve title </p>
        <h5 id="item-7">CVE 7</h5>
        <p class="text-muted"> cve title </p>
    </div>
</center>
</section>
{% endblock %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

</body>
</html>
