<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1d/Trend-Micro-Logo.png/1200px-Trend-Micro-Logo.png" alt="Logo" width="110" height="40" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">BDSA Query Service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'list-cve' %}">List CVEs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'upload_json' %}">Upload JSON Files</a>
        </li>
          </ul>
      <form class="d-flex" action="{% url 'search-cve' %}">
          {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="Enter CVE ID" aria-label="Search" name="searched">
        <button class="btn btn-default" type="submit" style="background-color:transparent" >
            <img src="https://cdn-icons-png.flaticon.com/512/3249/3249897.png" width="35" />
        </button>
      </form>
    </div>
  </div>
</nav>