{% extends 'QueryService/base.html' %}

<!DOCTYPE html>
<html lang="en"
<head>
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
{% block content %}
<br/>
<center>
        {% if added %}
        <h1>{{ msg1 }}:</h1>
        <tr>
          {% for add in added %}
          <p class="text-muted">{{add}}</p>
          {% endfor %}
        </tr>
        {% endif %}
        {% if duplicate %}
        <h1>{{ msg2 }}:</h1>
        <tr>
          {% for dupe in duplicate %}
          <p class="text-muted">{{dupe}}</p>
        </tr>
        {% endfor %}
        {% endif %}
        {% if invalid %}
        <h1>{{ msg3 }}:</h1>
        <tr>
          {% for inv in invalid %}
          <p class="text-muted">{{inv}}</p>
          {% endfor %}
        </tr>
        {% endif %}
</center>

{% endblock %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

</body>
</html>
